/* Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Font */

/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

:root {
    --black: #111;
    --white: #fff;
    --paste-green: #55D1B4;
    --light-green: #C3F6EA;
    --dark-green: #49BEA2;
    --header-font: "Montserrat", sans-serif;
    --text-font: "Poppins", sans-serif;
}

/* Universal */

/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background: var(--light-green);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--paste-green);
}

/* Scroll Bar */

/* Main Topbar Start */

.main-topbar {
    background: var(--paste-green);
    padding: 2px;
    font-size: 14px;
}

.topbar a {
    color: var(--black);
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar-login .login {
    border-right: 2px solid #008867;
    padding-right: 3px;
}

.topbar-login .register {
    padding-left: 10px;
}

.topbar-contact .phone {
    border-right: 2px solid #008867;
    padding-right: 3px;
}

.topbar-contact .location {
    padding-left: 10px;
    padding-right: 3px;
    border-right: 2px solid #008867;
}

.topbar-contact .massege {
    padding-left: 10px;
}

.topbar-button .top-btn-1 {
    border: none;
    border-radius: 3px;
}

.topbar a:hover {
    color: #017155;
}

@media screen and (max-width: 1200px) {
    .main-topbar {
        display: none;
    }
}

/* Main Topbar End */

/* Main Navbar Start */

.navbar-logo img {
    width: 180px;
}

.navbar-menu li a {
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 1.1em;
    display: inline-block;
    color: var(--black);
    margin-left: 20px;
}

.nav-link {
    display: flex;
    padding: 5px 0;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: var(--paste-green);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: var(--paste-green);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
    color: var(--paste-green) !important;
}

.nav-link:hover::before {
    right: 0;
}

.nav-link:hover::after {
    left: 0;
}

.navbar-social-icon span i {
    color: var(--paste-green);
    font-size: 1.3em;
    margin-left: 10px;
    transition: 0.3s;
}

.navbar-social-icon span i:hover {
    transform: scale(1.5);
}

/* Main Navbar End */

/* Hero Section Start */

.hero {
    background: var(--paste-green);
    width: 100%;
    height: auto;
    position: relative;
}

.hero-title h5 {
    font-weight: 700;
    font-size: 1.3em;
}

.hero-main-header h1 {
    font-size: 4em;
    z-index: 1;
    font-weight: 700;
}

.hero-semi-header h2 {
    font-size: 3.7em;
    font-weight: 700;
    z-index: 10;
}

.hero-semi-header span {
    font-weight: 200;
}

.content {
    position: relative;
    font-family: var(--header-font);
}

.hero-circle-img img {
    position: absolute;
    width: 80%;
    height: auto;
    top: -180px;
    z-index: 1;
}

.hero-man img {
    margin-top: 30px;
    width: 90%;
    height: auto;
    padding-left: 120px;
}

.hero-dynamic-text {
    overflow: hidden;
    user-select: none;
    margin-top: -20px;
}

.hero-dynamic-text .text {
    position: relative;
    font-size: 3.5em;
    font-weight: 700;
    color: var(--black);
}

.hero-dynamic-text .text.sec-text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--paste-green);
    border-left: 2px solid #FF0000;
    animation: typing 4s steps(250) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

.hero-down-arrow {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-down-arrow img {
    width: 70px;
    height: auto;
}

@media screen and (max-width: 1400px) {
    .hero-main-header h1 {
        font-size: 3.5em;
    }

    .hero-dynamic-text .text {
        font-size: 3.1em;
    }
}

@media screen and (max-width: 1200px) {
    .hero-main-header h1 {
        font-size: 3.1em;
    }

    .hero-dynamic-text .text {
        font-size: 2.8em;
    }
}

@media screen and (max-width: 990px) {
    .hero-main-header h1 {
        font-size: 2.2em;
    }

    .hero-dynamic-text .text {
        font-size: 2em;
    }

    .hero-down-arrow {
        bottom: -30px;
    }

    .hero-down-arrow img {
        width: 60px;
        height: auto;
    }
}

@media screen and (max-width: 765px) {
    .content {
        margin-top: 50px;
    }

    .hero-circle-img {
        display: none;
    }

    .hero-dynamic-text {
        margin-top: -10px;
    }

    .hero-man img {
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
        margin-top: 50px;
        padding: 0;
    }

    .hero-down-arrow {
        display: none;
    }
}

/* Hero Section End */

/* Servive Section Start */

.service-title {
    position: relative;
}

.service-title h1 {
    color: var(--paste-green);
    font-size: 3.5em;
    font-weight: 700;
    font-family: var(--header-font);
}

.service-title P {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.service-card {
    background: #fff;
    border-radius: 18px;
    box-shadow: 5px 5px 20px #C3F6EA;
    transition: all .5s;
    position: relative;
    cursor: pointer;
}

.service-card::after {
    content: '@';
    position: absolute;
    bottom: 10px;
    left: 30px;
    opacity: 0;
    transition: all .5s;
}

.service-card h4 {
    font-family: var(--text-font);
}

.service-card p {
    font-family: var(--text-font);
}

.service-title img {
    position: absolute;
    z-index: -2;
    width: 85%;
    top: 250px;
    left: 0;
}

.service-card:hover.service-card::after {
    opacity: 1;
}

.service-card:hover {
    transform: translateY(-20px);
    background: linear-gradient(145deg, var(--paste-green), var(--light-green));
}

@media screen and (max-width: 990px) {
    .service-title img {
        display: none;
    }

    .service-title h1 {
        font-size: 2.5em;
    }

    .service-title p {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    .service-title h1 {
        font-size: 2em;
    }

    .service-title p {
        font-size: .7em;
    }
}

/* Servive Section End */

/* About Section Start */

.about {
    position: relative;
    margin-top: 100px;
    background-color: var(--paste-green);
    width: 100%;
    z-index: -2;
}

.about-bg-box {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.about-man img {
    z-index: 1;
    width: 100%;
    margin: 100px 0;
}

.about-circle img {
    position: absolute;
    width: 50%;
    bottom: 50px;
    right: 0;
    z-index: -1;
}

.about-title {
    padding: 20px;
}

.about-content h1 {
    font-family: var(--header-font);
    font-weight: 700;
    margin-top: 130px;
    font-size: 2.7em;
    color: var(--white);
}

.jhon-lee {
    position: relative;
}

.about-content h2 {
    font-family: var(--header-font);
    display: inline-block;
    padding-bottom: 5px;
    font-weight: 600;
    border-bottom: 2px solid var(--black);
}

.about-content p {
    font-weight: 700;
    font-family: var(--text-font);
}

.jhon-lee img {
    position: absolute;
    bottom: -40px;
    left: 43%;
}

@media screen and (max-width: 1400px) {
    .about-man img {
        width: 100%;
        margin: 50px 0;
    }

    .about-content h1 {
        margin-top: 80px;
        font-size: 2.2em;
    }
}

@media screen and (max-width: 1200px) {
    .about-man img {
        width: 100%;
        margin: 30px 0;
    }

    .about-content p {
        padding: 20px 0 !important;
    }

    .about-content h1 {
        margin-top: 30px;
        font-size: 1.8em;
    }

    .jhon-lee {
        margin-top: -30px;
    }
}

@media screen and (max-width: 990px) {
    .about-man img {
        width: 100%;
        margin: 25px 0;
    }

    .about-content p {
        padding: 20px 0 !important;
        font-size: .9em;
    }

    .about-content h1 {
        margin-top: 10px;
        font-size: 1.3em;
    }

    .jhon-lee {
        margin-top: -30px;
    }

    .jhon-lee h2 {
        font-size: 1.4em;
    }

    .jhon-lee img {
        width: 20%;
        bottom: -20px;
        left: 40%;
    }
}

@media screen and (max-width: 768px) {
    .about-man img {
        width: 100%;
        margin-top: 30px;
    }

    .about-content p {
        padding: 20px 0 !important;
        font-size: .8em;
    }

    .about-content h1 {
        margin-top: 0 !important;
        font-size: 1.2em;
    }

    .jhon-lee {
        margin-top: -30px;
    }

    .jhon-lee h2 {
        font-size: 1.1em;
    }

    .jhon-lee img {
        width: 15%;
        bottom: -25px;
        left: 40%;
    }

    .about .about-bg-box {
        display: none;
    }

    .about {
        padding-bottom: 50px;
    }

    .about-circle {
        display: none;
    }
}

/* About Section End */

/* Appoinment Section Start */

.appointment-header h1 {
    font-size: 3.5em;
    font-family: var(--header-font);
    font-weight: 700;
    color: var(--paste-green);
    margin-top: 100px;
}

.appointment-header .under-line-1 {
    width: 200px;
    height: 6px;
    background: linear-gradient(to right, #2EC7A2, #96EAD6);
    border-radius: 30px;
    margin: auto;
    margin-top: 15px;
}



/* Appoinment Section End */

/* Pricing Section Start */

.pricing {
    background: var(--paste-green);
    padding: 100px;
}

.pricing-header h1 {
    font-size: 3.5em;
    font-family: var(--header-font);
    font-weight: 700;
    color: var(--paste-green);
    color: #fff;
}

.pricing-header .under-line-2 {
    width: 200px;
    height: 6px;
    background: linear-gradient(to left, #96EAD6, #ffffff);
    border-radius: 30px;
    margin: auto;
    margin-top: 15px;
}

.profile-card {
    background: var(--white);
    margin: 50px;
    margin-top: 150px;
    font-family: var(--text-font);
    border-radius: 8px;
}

.profile-card h2 {
    width: 100%;
    background: var(--dark-green);
    text-align: center;
    color: #fff;
    padding: 60px 0 100px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile-card img {
    display: block;
    margin: auto;
    margin-top: -70px;
}

.profile-title {
    padding: 20px 50px 50px 50px;
}

.profile-title h3 {
    text-align: center;
}

.profile-title h3 span {
    font-size: 2em;
}

.profile-title p {
    font-size: .8em;
    font-weight: 600;
    line-height: 10px;
}

.profile-card-midle {
    background: var(--white);
    margin: 50px;
    margin-top: 140px;
    font-family: var(--text-font);
    border-radius: 8px;
    transform: scale(1.2);
}

.profile-card-midle h2 {
    background: var(--light-green);
    text-align: center;
    color: var(--dark-green);
    padding: 60px 0 100px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: .5s;
}

.profile-card-midle img {
    display: block;
    margin: auto;
    margin-top: -70px;
}

.profile-card-left, 
.profile-card-right {
    transition: all .5s;
}

.profile-card-left:hover, 
.profile-card-right:hover {
    transform: scale(1.1, 1.15);
}

.profile-card-midle:hover h2 {
    background-color: var(--dark-green);
    color: var(--white);
}


@media screen and (max-width: 1500px) {
    .profile-title h3 span {
        font-size: 1.5em;
    }

    .profile-title {
        padding: 15px 40px 40px 40px;
    }
}

@media screen and (max-width: 1400px) {
    .profile-title h3 {
        font-size: 1.3em;
    }

    .profile-title h3 span {
        font-size: 1.5em;
    }

    .profile-title {
        padding: 8px 20px 20px 20px;
    }

    .profile-title p {
        font-size: .6em;
    }

    .profile-card h2, .profile-card-midle h2 {
        padding: 30px 0 60px 0;
    }

    .profile-card img, .profile-card-midle img {
        width: 30%;
        margin-top: -40px;
    }
}

@media screen and (max-width: 1260px) {
    .pricing {
        padding: 100px 0;
    }

    .profile-card h2 {
        font-size: 1.5em;
    }

    .profile-title h3 {
        font-size: 1.1em;
    }

    .profile-title h3 span {
        font-size: 1.4em;
    }

    .profile-title {
        padding: 8px 20px 20px 20px;
    }

    .profile-title p {
        font-size: .7em;
    }

    .profile-card h2, .profile-card-midle h2 {
        padding: 30px 0 60px 0;
    }

    .profile-card img, .profile-card-midle img {
        width: 30%;
        margin-top: -40px;
    }
}

@media screen and (max-width: 990px) {
    .pricing {
        padding: 50px 0;
    }

    .pricing-header .under-line-2 {
        margin-bottom: 50px;
    }

    .profile-card, .profile-card-midle {
        margin: 10px;
    }

    .profile-card-midle {
        transform: scale(1);
    }

    .profile-card img, .profile-card-midle img {
        width: 20%;
        margin-top: -50px;
    }

    .profile-card h2 {
        font-size: 1.8em;
    }

    .profile-title h3 {
        font-size: 1.5em;
    }

    .profile-title h3 span {
        font-size: 1.4em;
    }

    .profile-title {
        padding: 8px 20px 20px 20px;
    }

    .profile-title p {
        font-size: .9em;
    }

    .profile-title {
        padding: 8px 40px 40px 40px;
    }
}

@media screen and (max-width: 768px) {
    .pricing-header {
        font-size: .7em;
    }

    .profile-card img, .profile-card-midle img {
        width: 20%;
        margin-top: -40px;
    }

    .profile-title p {
        font-size: .8em;
    }
}

/* Pricing Section End */

/* Case Section Start */

.case-header h1 {
    font-size: 3.5em;
    font-family: var(--header-font);
    font-weight: 700;
    color: var(--paste-green);
}

.case-header .under-line-3 {
    width: 200px;
    height: 6px;
    background: linear-gradient(to right, #2EC7A2, #96EAD6);
    border-radius: 30px;
    margin: auto;
    margin-top: 15px;
}





/* Case Section End */